<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>First web app</title>
</head>
<body>
<h1>Hello World for 30433</h1>
<h2><i>YO YO</i></h2>

<h1>Varianta1</h1>
<h1 th:text="${fullUserObj.getName()}"> este numele acelui user</h1>

<h1>Varianta2</h1>
<h1 th:text="${numeStudent}"> este numele acelui user</h1>

</body>
</html>